<main>
  <section class="AboutMain">
    <div class="container">
      <h1>Know Me More !!</h1>

      <h2>Skills</h2>
      <ol class="SCHcontainers">
        <li>Expertise in Java, Python, JS, PHP, C/C++.</li>
        <li>All MS Office Apps Expertise</li>
        <li>Project Management</li>
        <li>Requirements Gathering</li>
        <li>Agile Development Frameworks</li>
        <li>Usability Understanding</li>
        <li>Application Debugging</li>
        <li>Interface Design and Implementation</li>
      </ol>

      <h2>Experience</h2>
      <p><strong>September 2019 - July 2021</strong><br />
        Computer Programmer and Mobile/Web Application Developer<br />
        Suven Consultancy Service | Ahmedabad, Gujarat, India</p>
      <ol>
        <li>Completed a coding Internship at Suven Consultancy Service</li>
        <li>Worked on Bootstrap to develop 6 websites.</li>
        <li>Developed computer programs to automate data processing tasks.</li>
        <li>Tested and debugged existing programs for accuracy and
          functionality.</li>
        <li>Maintained existing code by making modifications as needed.</li>
        <li>Implemented new software applications in accordance with established
          protocols.</li>
      </ol>

      <h2>Education and Training</h2>
      <p><strong>April 2022 - Expected in April 2024</strong><br />
        High School Diploma<br />
        Georgian College of Applied Arts And Technology, Barrie, ON</p>
      <ol>
        <li>Ranked in Top 1% of class</li>
        <li>Dean's List Honoree in Sem 1, 2, 3</li>
      </ol>
      <p><strong>May 2018 - March 2021</strong><br />
        Diploma<br />
        ITM Vocation University, Vadodara, Gujarat, India</p>
      <ol>
        <li>CGPA: 9.3+</li>
        <li>Rank: 2nd Rank holder throughout the course</li>
        <li>Developed many small programs and some full-scale websites as well
          as Android Applications</li>
      </ol>

      <h2>Certifications</h2>
      <ol class="SCHcontainers">
        <li>Python programming</li>
        <li>Artificial Intelligence and Machine Learning</li>
        <li>JavaScript</li>
        <li>Android App Development</li>
        <li>C / C++</li>
        <li>Java</li>
        <li>Python</li>
      </ol>

      <h2>Hobbies</h2>
      <ol class="SCHcontainers">
        <li>Reading Books</li>
        <li>Playing Football</li>
        <li>Travelling</li>
      </ol>
      <div class="HomeButtons">
                <div><a href="/projects">Take A Look To My Projects!!</a></div>
                <div><a href="/contact">Contact Me</a></div>
            </div>
    </div>
  </section>
</main>
