<main>
    <section class="ContactMain">
    <!-- Contact Form -->
    <div>
        <h1>Reach Me</h1>
        <form action="https://formsubmit.co/d521f3ffde3667b7b55a6f3e02298773" method="POST">
            <div class="form-group">
                <label for="name">Your Name</label>
                <input name="name" type="text" class="form-control" id="name" placeholder="Enter your name">
            </div>
            <div class="form-group">
                <label for="email">Your Email</label>
                <input name="email" type="email" class="form-control" id="email" placeholder="Enter your email">
            </div>
            <div class="form-group">
                <label for="email">Subject</label>
                <input name="Subject" type="text" class="form-control" id="email" placeholder="Enter the subject of message">
            </div>
            <div class="form-group">
                <label for="message">Your Message</label>
                <textarea name="Message" class="form-control" id="message" rows="3" placeholder="Enter your message"></textarea>
            </div>
            <div class="SubmitButton"> 
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
    </section>
</main>
