<main>
    <section class="about-section">
        <div class="HomeAboutContainer">
            <p class="TitleName">Rohan Vyas</p>
                <div class="HomeSymbols">
                    <div><img class="icons" src="/images/job.png">  Software Developer/ Programmer</div>
                    <div><span class="city"><img class="icons" src="/images/location.png">   Barrie,</span><span class="county">ON</span></div>
                </div>
            <p class="SummaryLine">Passionate software developer dedicated to crafting
                elegant solutions with innovative technologies.</p>
            <p class="SummaryPara">I am deeply committed to creating high-quality,
                efficient, and user-friendly software solutions.
                <br />
                With a keen eye for detail and a passion for problem-solving, I thrive
                on tackling complex challenges and implementing
                <br />
                innovative technologies to deliver exceptional results. My strong
                analytical skills, combined with a collaborative
                <br />
                mindset, enable me to work effectively within teams to design and
                develop robust applications that meet the needs
                <br />
                of users and exceed expectations. Whether it's coding, testing, or
                debugging, I approach every task with dedication
                <br />
                and enthusiasm, continuously seeking opportunities for growth and
                improvement in the ever-evolving field of software development.
            </p>
            <div class="HomeButtons">
                <div><a href="/about">Learn More About Me!</a></div>
                <div><a href="/contact">Contact Me</a></div>
            </div>
        </div>
    </section>
</main>
