<main>
  <section class="ProjectMain">
    <div>
      <h1>My Projects!!</h1>
      <div id="portfolio">
        <div class="portfolio-item">
          <img src="/images/tokenizer.png" alt="Portfolio Item 1" />
          <h2>Tokenizer</h2>
          <p>Introducing the Token Generator app for Android and iOS! This innovative application simplifies appointment booking at hospitals, shops, or any desired location. Users can effortlessly book appointments, reducing wait times and ensuring a seamless experience. Appointment data is securely erased upon arrival, maintaining privacy. Users access their appointments by scanning a QR code from the place's mobile app, enhancing convenience. Revolutionizing appointment management, the Token Generator app offers a convenient solution for scheduling needs.</p>
          <div><a href="https://www.amazon.com/dp/B097YRFSLP">Learn More!</a></div>
        </div>
        <div class="portfolio-item">
          <img src="/images/vinayan.png" alt="Portfolio Item 2" />
          <h2>Vinayan</h2>
          <p>Introducing our web-based online learning platform! Our website serves as a unified platform for both teaching and learning, catering to a diverse range of subjects, arts, and specialized fields. Teachers across various disciplines can register and offer one-on-one sessions, providing targeted knowledge to interested learners. This innovative approach allows students to access specific expertise without committing to entire courses, making learning more affordable. Through this platform, teachers can earn a substantial income while students gain valuable insights tailored to their needs, revolutionizing the traditional learning experience.</p>
          <div><a href="">Learn More!</a></div>
        </div>
      </div>
    </div>
  </section>
</main>
