/* Global Styles */
html,
body {
  height: 100%;
  padding: none;
  margin: none;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: linear-gradient(rgba(0, 0, 0, 0.512), rgba(0, 0, 0, 0.512)),
    url(../images/homeBG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

a {
  color: #00b7ff;
}

.myLogo {
  height: 70px;
  width: auto;
  border-radius: 50%;
}

/* Navigation Styles */
.navBar {
  background-color: #272727 !important;
}

ul li {
  display: inline-block;
  margin-right: 20px;
  position: relative;
}

ul li a {
  text-decoration: none;
  color: black;
  position: relative;
}

ul li a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: white;
  position: absolute;
  bottom: -4px;
  left: 0;
  transition: width 0.5s ease;
}

ul li a:hover::after {
  width: 100%;
}

/* Main Content Styles */
#content {
  min-height: calc(
    90vh - 68px
  ); /* Adjust the height based on the height of the footer */
}

/* Home Page Styles */
.about-section {
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3a9;
  text-align: center;
  border-radius: 5px;
}

.TitleName {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 6em;
  padding: 20px;
}

.SummaryLine {
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
  margin-top: 20px;
}

.SummaryPara {
  margin-top: 20px;
  font-size: 15px;
  font-family: serif;
  justify-self: center;
  padding-bottom: 20px;
}

.HomeSymbols > div {
  margin-left: 50px;
  margin-right: 50px;
}

.HomeButtons > div {
  flex: 0 0 30%;
  min-width: 200px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 15px;
  border-radius: 10px;
  background-color: #343a40;
  text-align: center !important;
}

.HomeButtons > div > a {
  color: white;
  text-decoration: none;
}

/* About Page Styles */
.AboutMain {
  margin: 50px 0px 50px 0px;
  padding: 20px;
  border-radius: 5px;
  background-color: #f3f3f3a9;
}

.AboutMain > div > h1 {
  padding: 50px 0px 70px 0px;
  text-align: center;
  text-decoration: underline;
  font-size: 50px;
}

.AboutMain > div > ol > li {
  list-style: circle;
}

.SCHcontainers {
  display: flex !important;
  flex-wrap: wrap;
  justify-content: space-between;
}

.SCHcontainers > li {
  flex: 0 0 40%
}

/* Contact Page Styles */
.ContactMain {
  margin: 20px;
  padding: 20px;
  background-color: #f3f3f3a9;
  min-height: 500px;
  border-radius: 5px;
}

.ContactMain > div > h1 {
  text-align: center;
}

.SubmitButton {
  text-align: center;
}

.SubmitButton > button {
  background-color: #272727;
  width: 200px;
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  text-align: center;
}

/* Footer Styles */
.footer {
  height: auto;
  text-align: center;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
